body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 40px;
}
.auth{
  padding: 40px;
}
.tokenbay {
  width: 80%;
  height: fit-content;
  margin-left: auto;  /* Horizontally center the textarea */
  margin-right: auto; /* Horizontally center the textarea */
  border: 1px solid #ccc;
  padding: 10px;
  resize: none; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* App.css */

/* Reset the Amplify logo color to black */
.amplify-logo {
  filter: invert(1); /* inverting white to black */
}

/* Reset button colors */
.amplify-button {
  background-color: black;
  color: white;
}

.amplify-button:hover {
  background-color: grey;
}

/* Reset input field colors */
.amplify-field {
  border: 1px solid black;
  color: black;
}

/* Reset header colors */
.amplify-header {
  color: black;
}

/* Reset link colors (like 'Forget your password?' and 'Sign up') */
.amplify-a {
  color: black;
}
